;------------------------------------------------------------------------------
; 設定ファイルサンプル
;------------------------------------------------------------------------------
; サンプルをこのまま使う場合は、ファイル名を ChVolX.ini としてください。
;------------------------------------------------------------------------------

[Setting]
; VolComponentType:
;  ChVolXでは使用しません。
;VolComponentType=4

[Command]
; UpDown0～9:
;  「音量をn上げる」「音量をn下げる」で上下させるパーセント数を指定します。
UpDown0=5
UpDown1=10
UpDown2=20

; Set0～9:
;  「音量をnにセット」で設定するパーセントを指定します。
Set0=10
Set1=20
Set2=30
Set3=40
Set4=50
Set5=60
Set6=70
Set7=80
Set8=90
Set9=100
